<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start mb-3 mb-lg-0">
        Telif Hakkı &copy; GreenAiriva 2025
      </div>
      <div class="col-lg-4 my-3 my-lg-0 text-center">
        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/greenairiva/" aria-label="Instagram">
          <img src="{{ site.baseurl }}/assets/img/logos/icons8-instagram-500.svg" alt="Instagram" style="width:24px; height:24px; object-fit:contain; filter:invert(1);" />
        </a>
        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/company/greenairiva/" aria-label="LinkedIn">
          <img src="{{ site.baseurl }}/assets/img/logos/icons8-linkedin-500.svg" alt="LinkedIn" style="width:24px; height:24px; object-fit:contain; filter:invert(1);" />
        </a>
        <a class="btn btn-dark btn-social mx-2" href="https://x.com/greenairiva/" aria-label="X">
          <img src="{{ site.baseurl }}/assets/img/logos/icons8-x-500.svg" alt="X" style="width:24px; height:24px; object-fit:contain; filter:invert(1);" />
        </a>
      </div>
      <div class="col-lg-4 text-lg-end text-center">
        <a class="link-dark text-decoration-none me-3" href="{{ site.baseurl }}/privacy/">Gizlilik Politikası</a>
        <a class="link-dark text-decoration-none" href="{{ site.baseurl }}/terms/">Kullanım Şartları</a>
      </div>
    </div>
  </div>
</footer>
